@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/Lucida-Grande-Regular-Font.ttf");
}

/*
@media (max-width: 575.98px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-color: lightgreen;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-color: lightyellow;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background-color: lightpink;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: lightcoral;
  }
}
*/

:root {
  /* Grayscale */
  --black: #000000;
  --white: #FFFFFF;

  /* General corporate identity settings */
  --identity-color-1: #14b11c;
  --identity-color-2: #0050e4fa;

  /* Variables for the language selection box in the upper right */
  --language-box-top-margin: 4px;
  --language-box-right-margin: 4px;
  --language-box-spacing: 4px;
  --flag-height: 64px;

  /* Variables for the header */
  --title-font-size: 128px;
  --slogan-font-size: 48px;
  --header-bottom-spacer: 32px;
  --header-background-color: var(--identity-color-1);
  --title-color: var(--identity-color-2);
  --slogan-color: var(--white);

  /* variables for between header and main content */
  --main-footer-gap: 64px;
}

* {
  font-family: "Lucida Grande";
  border: 0;
  margin: 0;
  padding: 0;
}

.language-selection-box {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: var(--language-box-top-margin);
  right: var(--language-box-right-margin);
  padding: var(--language-box-spacing);
  align-items: center;
  gap: var(--language-box-spacing);
}

.flag {
  display: block;
  height: var(--flag-height);
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
}

.header {
  background: var(--header-background-color);
}

.title-name,
.title-name:visited,
.title-name:active,
.title-name:hover,
.title-name:target {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-decoration: none;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: var(--title-font-size);
}

.title-slogan {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  color: var(--slogan-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--header-bottom-spacer);
  font-size: var(--slogan-font-size);
}

.main-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.main-content h3 {
  font-size: 24px;
  margin-top: 32px;
}

.main-content h4 {
  font-size: 20px;
  margin-top: 24px;
}

.main-content h5 {
  font-size: 16px;
  margin-top: 16px;
}

.spacer-between-main-content-and-footer {
  height: var(--main-footer-gap);
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--identity-color-1);
}

.footer-link,
.footer-link:visited,
.footer-link:active,
.footer-link:hover,
.footer-link:target {
  text-decoration: none;
  text-decoration-line: none;
  color: var(--black);
}

.imprint-top-spacer {
  height: 96px;
}

.imprint-element-spacer {
  height: 48px;
}

.centered-text {
  display: flex;
  justify-content: center;
}
