body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100dvh;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  width: 98%;
  padding-bottom: 64px;
}

h1 {
  font-size: 8vw;
  margin-top: 16px;
  margin-bottom: 8px;
}

h2 {
  font-size: xx-large;
  margin-bottom: 32px;
}

label {
  margin-right: 8px;
}

label, p, input {
  font-size: xx-large;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.input-elements {
  display: flex;
}

label, input {
  width: 50%;
}

input {
  text-align: center;
}

.small {
  font-size: small;
}

.requires-javascript {
  display: none;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.boxed {
  max-width: 90%;
  width: 100%;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: black;
  padding: 4px;
}

textarea {
  width: 100% !important;
  min-height: 80px;
}

.red {
  color: red;
}

.yellow {
  color: rgb(185, 185, 37);
}

.orange {
  color: orange;
}

.grey {
  color: grey;
}

.brown {
  color: brown;
}

.blue {
  color: blue;
}

.prime {
  color: magenta;
}

.composite {
  color: green;
}

.colored-regex-box {
  display: inline-block;
}

#output-human-readable-text {
  margin-bottom: 0px;
}

.bottom {
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-bottom: 4px;
  text-align: center;
}

#repeat-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  max-width: 100%; /* Is completely ignored and content overflows. Fix this! */
}

.composite-box {
  border: solid;
  border-width: 1px;
  max-width: 100%;
}

.prime-box {
  border: solid;
  border-width: 1px;
  word-break: break-all;
  text-align: left;
}

.mini-side-margin {
  margin-left: 2px;
  margin-right: 2px;
}
